.PlayerStats {
  width: 80%;
  min-height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 30px;
  display: grid;
  grid-gap: 50px;
  grid-template-areas:
    "player stats stats"
    "general stats stats";
}

.PlayerStats__player {
  grid-area: player;
}

.PlayerStats__player-head {
  width: 150px;
  display: block;
}

.PlayerStats__title {
  font-size: 2rem;
  color: var(--text-color--primary);
  border-bottom: 1px solid white;
}

.PlayerStats__general-stats {
  grid-area: general;
  align-self: center;
}

.PlayerStats__stats-list > li::marker {
  color: white;
}

.PlayerStats__stats-text {
  color: var(--text-color--primary);
  font-weight: 700;
  font-size: 1.5rem;
}

.PlayerStats__stats-value {
  color: var(--text-color--primary);
  font-weight: 400;
  font-size: 1.4rem;
}

.PlayerStats__stats {
  grid-area: stats;
}

/* MODIFIER */
.--stats-card {
  height: 100%;
  padding: 20px;
  border-left: 1px solid white;
}
