.SearchPlayer {
  position: relative;
  width: 650px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.SearchPlayer__title {
  color: var(--text-color--primary);
  font-size: 2.2rem;
  font-weight: 500;
}

.SearchPlayer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchPlayer__input {
  height: 3rem;
  font-size: 2rem;
  color: var(--text-color--primary);
  padding: 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid var(--color--secondary);
  border-radius: 10px;
  text-align: center;
  margin-block: 1.4rem;
}

.SearchPlayer__button {
  background-color: var(--color--primary);
  padding: 1.4rem;
  border: none;
  border-radius: 10px;
  color: var(--text-color--primary);
  font-size: 1.2rem;
  font-weight: 700;
}
.SearchPlayer__button:hover {
  transition: 0.3s ease;
  background-color: var(--color--secondary);
  cursor: pointer;
}
