.Loading {
  background-color: rgba(0, 0, 0, 0.55);
  color: var(--text-color--primary);
  padding: 2.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Loading__elaina-loading {
  width: 13rem;
}

.Loading__loading-text {
  font-size: 2rem;
}
