/* 
=====
variables
=====
*/
:root {
  --color--primary: #3c5480;
  --color--secondary: #5b8ce7;
  --text-color--primary: #f5f7fb;
  --text-color--secondary: #c9c9c9;
}

/* 
=====
global styles
=====
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  color: var(--text-color--primary);
}

/* 
=====
prestyled styles
=====
*/
.text-primary {
  color: var(--text-color--primary);
  font-size: 20px;
}

/* 
=====
animation
=====
*/
.--floatingAnimation {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
